.h-64rem {
    height: 64rem;
}

.min-w-24rem {
    min-width: 24rem;
}

.font-mine {
    font-family: 'Minecraft', sans-serif;
}
* {
	margin: 0 auto;
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#gameImg {
    display: flex;
    justify-content: center;
    align-items: top;
    overflow: hidden
}
#gameImg img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    background-image: url("/assets/images/\ game\ controls.jpeg");
    background-size: cover;
    background-position: center;
}
@media (hover: hover) {
    img:hover{
        opacity: 50%;
    }
}